In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
enter = pd.read_csv('./data/JT_TRRSRT_ENTRN_LIST.csv', encoding='cp949')
keyword = pd.read_csv('./data/jeju_sns_keyword.csv', encoding='cp949')
emotion = pd.read_csv('./data/jeju_sns_emotion_keyword.csv', encoding='cp949')
merchant = pd.read_csv('./data/JEJU_MERCHANT.csv', encoding='cp949')
inquiry = pd.read_csv('./data/JT_MT_ACCTO_TRRSRT_SCCNT_LIST.csv', encoding='cp949')
food = pd.read_csv('./data/FOOD_ITEM.csv', encoding='cp949')

## #1

In [11]:
enter.head()

,CL_NM,TRRSRT_NM,ADDR,TEL_NO,TOT_ENTRN_NMPR_CO,SETLE_PRICE,ENTRN_DE
0,기타,봄그리고가을리조트,제주 서귀포시 성산읍 해맞이해안로 2660 시흥근생및주택,647842211.0,2,18000,20220301
1,기타,토스카나호텔,제주 서귀포시 용흥로66번길 158-7,647357000.0,2,57230,20220301
2,기타,산방산탄산온천,제주 서귀포시 안덕면 사계북로41번길 192,647928300.0,5,37500,20220301
3,기타,해비치호텔앤드리조트(섬모라),제주 서귀포시 표선면 민속해안로 537,647808322.0,1,30600,20220301
4,레저관광,우도잠수함,제주 서귀포시 성산읍 성산등용로 112-7,647842333.0,2,82400,20220301

In [20]:
enter['CL_NM'].unique()

array(['기타', '레저관광', '테마파크', '공연전시', '키즈', '자연', '테마관광지', '레저/체험', '문화관광',
       '음식점', '숙박', '체험'], dtype=object)

In [22]:
enter[enter['CL_NM']=='키즈']['TRRSRT_NM'].unique()

array(['뽀로로앤타요 테마파크', '돈키쥬쥬', '공룡랜드', '액트몬(신화월드점)', '코코몽에코파크', '시크릿테마파크'],
      dtype=object)

In [23]:
enter[enter['CL_NM']=='레저/체험']['TRRSRT_NM'].unique()

array(['산방산탄산온천', '조랑말타운 승마카트', '윈드1947 서바이벌', '세리월드', '제주레일바이크', '우도잠수함',
       '제주실탄사격장', '하늘여행 행글라이더', '대유 ATV 수렵 사격랜드', '송악왕발통', '서귀포잠수함',
       '김녕요트투어', '차귀도유람선', '산방산유람선', '제주바다체험장'], dtype=object)

In [25]:
enter[enter['CL_NM']=='레저관광']['TRRSRT_NM'].unique()

array(['우도잠수함', '포니밸리 낙타테마파크', '서귀포잠수함', '제주실탄사격장', '제주레일바이크', '중문레져UTV',
       '마라도정기여객선(운진항)', '세리월드', '마라도가는여객선', '비양도 도항선', '차귀도유람선', '김녕요트투어',
       '송악카트체험장', '하늘여행 행글라이더', '차귀도 달래배낚시', '제주바다체험장', '제주카약', '성산포유람선',
       '산방산유람선', '서귀포다이브', '코바다이빙스쿨', '서피플', '서귀포유람선', '송악왕발통'],
      dtype=object)

In [18]:
df = enter[enter['TRRSRT_NM']=='천지연폭포']

In [21]:
df.head(30)

,CL_NM,TRRSRT_NM,ADDR,TEL_NO,TOT_ENTRN_NMPR_CO,SETLE_PRICE,ENTRN_DE
73803,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,2,3000,20210901
73804,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,2,4000,20210901
73805,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,1,2000,20210901
73806,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,3,2000,20210901
73807,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,2,2000,20210901
73808,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,4,6000,20210901
73809,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,2,4000,20210901
73810,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,2,4000,20210901
73811,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,2,4000,20210901
73812,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,1,2000,20210901
73813,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,2,4000,20210901
73814,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,4,6000,20210901
73815,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,2,4000,20210901
73816,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,3,6000,20210901
73817,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,4,8000,20210901
73818,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,2,4000,20210901
73819,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,2,4000,20210901
73820,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,2,4000,20210901
73821,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,2,4000,20210901
73822,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,2,4000,20210901
73823,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,1,2000,20210901
73824,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,1,2000,20210901
73825,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,4,6000,20210901
73826,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,1,1000,20210901
73827,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,2,4000,20210901
73828,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,1,1000,20210901
73829,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,1,1000,20210901
73830,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,2,4000,20210901
73831,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,1,2000,20210901
73832,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,2,2000,20210901

In [27]:
date = df['ENTRN_DE'].unique()

In [29]:
groupbydate = df.groupby('ENTRN_DE').sum()

In [32]:
groupbydate[groupbydate['TOT_ENTRN_NMPR_CO']>4512]

                TEL_NO  TOT_ENTRN_NMPR_CO  SETLE_PRICE
ENTRN_DE
20210920  1.079749e+12               5466      7916000
20210921  8.603036e+11               4656      5778000
20211001  1.295310e+12               5883      8802000
20211002  1.858489e+12               8268     12499500
20211003  2.124542e+12              11667     15951000
20211004  1.765273e+12               8100     11883000
20211005  1.658463e+12               6993     11109000
20211006  1.757505e+12               7365     11481000
20211007  1.522524e+12               6264      9537000
20211008  1.557480e+12              10164     11046000
20211009  2.046862e+12              12177     15588000
20211010  2.151730e+12              12522     16875000
20211011  1.837127e+12               9552     13170000
20211012  1.559422e+12               6723     10512000
20211013  1.973066e+12               8232     13185000
20211014  1.415714e+12               7164     10263000
20211015  1.534176e+12               7290     10698000
20211016  1.122473e+12               5859      8574000
20211017  1.984718e+12              10281     14844000
20211018  1.600204e+12               7281     11445000
20211019  1.848779e+12               8133     12702000
20211020  1.736143e+12               7695     11631000
20211021  1.774983e+12               7965     11883600
20211022  1.586610e+12               8082     11502000
20211023  1.821591e+12               9414     14283000
20211024  1.609914e+12               8679     12168000
20211025  1.607972e+12               7395     11661000
20211026  1.887619e+12               8397     13114800
20211027  1.889561e+12               8568     12855000
20211028  1.668173e+12               7803     11499000
20211029  1.627391e+12               8139     12054000
20211030  1.582726e+12               9129     12774000
20211031  1.466206e+12               7947     11268000

In [33]:
len(groupbydate[groupbydate['TOT_ENTRN_NMPR_CO']>4512])

33

In [4]:
enter.isna().sum()

CL_NM                 0
TRRSRT_NM             0
ADDR                  0
TEL_NO               93
TOT_ENTRN_NMPR_CO     0
SETLE_PRICE           0
ENTRN_DE              0
dtype: int64

In [5]:
enter[enter['TEL_NO'].isna()==True]['TRRSRT_NM']

960082    봄그리고가을리조트
960083    봄그리고가을리조트
960086    봄그리고가을리조트
961058    봄그리고가을리조트
961082    봄그리고가을리조트
            ...
988278    봄그리고가을리조트
989593    봄그리고가을리조트
990817    봄그리고가을리조트
990818    봄그리고가을리조트
990823    봄그리고가을리조트
Name: TRRSRT_NM, Length: 93, dtype: object

In [6]:
len(enter['TRRSRT_NM'].unique())

125

In [7]:
enter['TRRSRT_NM'].unique()

array(['봄그리고가을리조트', '토스카나호텔', '산방산탄산온천', '해비치호텔앤드리조트(섬모라)', '우도잠수함',
       '스누피가든', '테디베어뮤지엄 제주', '여미지식물원', '노형수퍼마켙', '카멜리아힐', '헬로키티아일랜드',
       '한림공원', '뽀로로앤타요 테마파크', '빛의벙커', '더마파크', '그대나의뮤즈', '메이즈랜드', '피규어뮤지엄',
       '그림카페', '점보빌리지', '브릭캠퍼스', '망고홀릭종달점', '포니밸리 낙타테마파크', '방림원', '화조원',
       '세계자동차박물관', '건강과성박물관', '소인국테마파크', '제주무민랜드', '아프리카박물관',
       '다이나믹메이즈에피소드3', '고흐의 정원', '더힐링타임', '아이스뮤지엄(수목원테마파크)', '돈키쥬쥬',
       '본초족욕 수목원테마파크', '서귀포잠수함', '제주실탄사격장', '제주레일바이크', '제주해양동물박물관',
       '오설록 티뮤지엄', '상효원', '노리매테마파크', '중문레져UTV', '바다의향기', '마라도정기여객선(운진항)',
       '세리월드', '마라도가는여객선', '제주민속촌', '비양도 도항선', '차귀도유람선', '허브동산',
       '테라피샹그릴라', '숨도박물관', '김녕요트투어', '송악카트체험장', '2월22일', '영주말가든', '공룡랜드',
       '환상의짜장', '하늘여행 행글라이더', '차귀도 달래배낚시', '제주바다체험장', '삼성혈', '유리박물관',
       '캐릭파크', '일출랜드', '제주돌마을공원', '제주카약', '생각하는정원(분재예술원)', '성산포유람선',
       '센트럴파크', '오늘은 녹차 족욕', '쇠소깍산물관광농원', '산방산유람선', '제주오메오메', '꽃썸',
       '액트몬(신화월드점)', '서귀포다이브', '해비치호텔앤드리조트(하노루)', '디저트팩토리', '토종흑염소농장',
       '코바다이빙스쿨', '서피플', '서귀포유람선', '초콜릿랜드', '사뿐', '코코몽에코파크', '시크릿테마파크',
       '진돼지', '성산일출봉', '천지연폭포', '천제연폭포', '주상절리대', '산방산 암벽식물지대', '감귤박물관',
       '정방폭포', '용머리해안', '비자림', '만장굴', '제주돌문화공원', '고스트타운', '조랑말타운 승마카트',
       '윈드1947 서바이벌', '제주수목원 플레이박스', '아이스뮤지엄', '신라호텔제주 뷔페', '생각하는정원',
       '제주유리의성', '대유 ATV 수렵 사격랜드', '봉이네해물짜장', '송악왕발통', '그리스신화박물관',
       '디저트카페 섬타르', '제주조각공원', '해비치호텔앤드리조트 섬모라', '마라도정기여객선', '테디베어뮤지엄제주',
       '신화테마파크제주', '마돈가', '망고레이(섭지코지점)', '유진이네횟집', '그림포레스트', '하모씨워킹',
       '새별헤이요'], dtype=object)

In [8]:
address = []

for i in range(len(enter['ADDR'])):
    addr = enter['ADDR'][i]
    p = addr[:addr.find('시')+1]
    address.append(p)

In [11]:
set(address)

{'제주 서귀포시', '제주 제주시', '제주시', '제주특별자치도 서귀포시', '제주특별자치도 제주시'}

In [12]:
enter['TOT_ENTRN_NMPR_CO'].mean()

2.529994068134438

In [13]:
enter['TOT_ENTRN_NMPR_CO'].min()

1

In [14]:
enter['TOT_ENTRN_NMPR_CO'].max()

998

In [15]:
enter[enter['TOT_ENTRN_NMPR_CO']==998]

,CL_NM,TRRSRT_NM,ADDR,TEL_NO,TOT_ENTRN_NMPR_CO,SETLE_PRICE,ENTRN_DE
237210,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,998,0,20211008
440539,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,998,0,20211008
643868,자연,천지연폭포,제주특별자치도 서귀포시 남성중로 2-15,647331528.0,998,0,20211008

## #2

In [16]:
keyword.head()

   순위    화제어     문서수   품사
0   1   서귀포시   3,242   명사
1   2    한라산   2,129   명사
2   3     우도   1,991   명사
3   4  성산일출봉   1,250   명사
4   5    애월읍   1,247   명사

In [47]:
keyword.isna().sum()

순위       0
화제어      0
 문서수     0
품사       0
dtype: int64

In [21]:
len(keyword)

1530

In [28]:
keyword['품사'].unique()

array(['명사'], dtype=object)

In [31]:
len(keyword['화제어'].unique())

1530

In [40]:
keyword['화제어'][:30]

0       서귀포시
1        한라산
2         우도
3      성산일출봉
4        애월읍
5         중문
6       해안도로
7         협재
8        구좌읍
9        산방산
10       조천읍
11       한림읍
12       안덕면
13       성산읍
14    협재해수욕장
15    함덕해수욕장
16      섭지코지
17     카멜리아힐
18       금오름
19       월정리
20       비자림
21       가파도
22    곽지해수욕장
23     용머리해안
24      새별오름
25       한경면
26        라온
27       송악산
28       평화로
29       도두봉
Name: 화제어, dtype: object

## #3

In [3]:
emotion.head()

,seq,emotion,doc_content,doc_url,source,doc_datetime,word,Unnamed: 7
0,1,긍정,지난주 친구와 시간을 내서 제주여행을 다녀왔어요. 무난한 제주 여행에서 특별함을 더...,https://blog.naver.com/shjhmom0812/222695355002,네이버 블로그 - 원문 및 댓글,20220408,"체험,체험,즐기다,체험,친환경,안전,조심하다,자연,자연,기회,위로,기회,우의,체험,...",
1,2,긍정,아침 해장으로 찾은 제주 오성식당 원래 찾아놓았던 식당이 없어졌는지 암튼 지인의 동...,https://blog.naver.com/dign69153/222649008745,네이버 블로그 - 원문 및 댓글,20220216,"맛집,맛집,놀이,맛집,맛집,진짜,완전,행복,공짜,득템,기여,진짜,득템,친환경,끝나다...",
2,3,긍정,제주도 수목원들 중 자주가게 되는 제주 상효원수목원계절마다 다채로운 꽃 축제가 열려...,https://blog.naver.com/bloomingjeju/222648757239,네이버 블로그 - 원문 및 댓글,20220217,"계절,가족,추천,효과,건지다,고르다,사랑,체험,재생,놀다,친환경",
3,4,긍정,제주도여행 스마트폰 없이 아날로그 종이지도로 한달살기 주제 이야기해보려 해요-프나온...,https://blog.naver.com/esther051/222645793685,네이버 블로그 - 원문 및 댓글,20220212,"이문,가득,도와주다,즐기다,계절,대박,친환경,베스트셀러,도움,우수,돋보이다,가지,진...",
4,5,긍정,"제주도 당일치기 여행코스, 교통수단, 공항 주차장 정보여행이 너무 가고싶은데... ...",https://blog.naver.com/blogeb/222671592288,네이버 블로그 - 원문 및 댓글,20220313,"진짜,여유,진짜,친절,진짜,맛집,맛집,진짜,진짜,고르다,고르다,이기다,끝나다,고르다...",

In [7]:
emotion.columns

Index(['seq', 'emotion', 'doc_content', 'doc_url', 'source', 'doc_datetime',
       'word', 'Unnamed: 7'],
      dtype='object')

In [9]:
emotion.drop('Unnamed: 7', axis=1, inplace=True)

In [16]:
ws = []

for i in range(len(emotion)):
    word = emotion['word'][i]
    word = word.split(',')
    word_set = list(set(word))
    ws.append(word_set)

In [18]:
emotion['keyword'] = ws

In [19]:
emotion.head(30)

,seq,emotion,doc_content,doc_url,source,doc_datetime,word,keyword
0,1,긍정,지난주 친구와 시간을 내서 제주여행을 다녀왔어요. 무난한 제주 여행에서 특별함을 더...,https://blog.naver.com/shjhmom0812/222695355002,네이버 블로그 - 원문 및 댓글,20220408,"체험,체험,즐기다,체험,친환경,안전,조심하다,자연,자연,기회,위로,기회,우의,체험,...","[기회, 체험, 감동, 추천, 조심하다, 우의, 자연, 재생, 안전, 즐기다, 경험..."
1,2,긍정,아침 해장으로 찾은 제주 오성식당 원래 찾아놓았던 식당이 없어졌는지 암튼 지인의 동...,https://blog.naver.com/dign69153/222649008745,네이버 블로그 - 원문 및 댓글,20220216,"맛집,맛집,놀이,맛집,맛집,진짜,완전,행복,공짜,득템,기여,진짜,득템,친환경,끝나다...","[존맛탱, 진짜, 득템, 공짜, 행복, 맛집, 완전, 끝나다, 놀이, 기여, 친환경]"
2,3,긍정,제주도 수목원들 중 자주가게 되는 제주 상효원수목원계절마다 다채로운 꽃 축제가 열려...,https://blog.naver.com/bloomingjeju/222648757239,네이버 블로그 - 원문 및 댓글,20220217,"계절,가족,추천,효과,건지다,고르다,사랑,체험,재생,놀다,친환경","[체험, 놀다, 효과, 고르다, 가족, 사랑, 건지다, 계절, 재생, 친환경, 추천]"
3,4,긍정,제주도여행 스마트폰 없이 아날로그 종이지도로 한달살기 주제 이야기해보려 해요-프나온...,https://blog.naver.com/esther051/222645793685,네이버 블로그 - 원문 및 댓글,20220212,"이문,가득,도와주다,즐기다,계절,대박,친환경,베스트셀러,도움,우수,돋보이다,가지,진...","[진짜, 가득, 베스트셀러, 가지, 돋보이다, 아끼다, 도움, 만점, 대박, 즐기다..."
4,5,긍정,"제주도 당일치기 여행코스, 교통수단, 공항 주차장 정보여행이 너무 가고싶은데... ...",https://blog.naver.com/blogeb/222671592288,네이버 블로그 - 원문 및 댓글,20220313,"진짜,여유,진짜,친절,진짜,맛집,맛집,진짜,진짜,고르다,고르다,이기다,끝나다,고르다...","[용이, 진짜, 요량, 만족, 가시다, 최고, 여유, 고르다, 맛집, 친절, 이기다..."
5,6,긍정,지난 3월 중순에 찾았던 상효원수목원 튤립축제는제주도에서 가장 빠르게 튤립을 만날수...,https://blog.naver.com/chfhrqoa53/222695679921,네이버 블로그 - 원문 및 댓글,20220409,"힐링,즐기다,즐기다,힐링,친환경,개방,계절,골드,힐링,자연,자연,감상,즐기다,끝나다...","[감동, 자연, 골드, 끝나다, 감탄, 개방, 즐기다, 계절, 힐링, 감상, 친환경..."
6,7,긍정,안녕하세여 키티예욤 이제 제주도 얘기마지막탄 ㅋㅋ 뱅기 기다리면서 엔젤리너스 제 ...,https://blog.naver.com/rlaskfdl1/222649835008,네이버 블로그 - 원문 및 댓글,20220217,"면세,진짜,기대,백미,용기,친환경","[진짜, 백미, 용기, 기대, 면세, 친환경]"
7,8,긍정,Dr. BioECO All In One Cleanser와. 곧 3월인데 이렇게 날씨...,https://blog.naver.com/ekthf40333/222657532371,네이버 블로그 - 원문 및 댓글,20220225,"맞다,믿다,가져오다,가족,자연,자연,끝내다,칭찬,낫다,덕분,가족,안심,재생","[끝내다, 가져오다, 덕분, 자연, 안심, 재생, 가족, 칭찬, 맞다, 믿다, 낫다]"
8,9,긍정,제주도 기념품 추천 서귀포 제스토리 소품샵This browser can't play...,https://blog.naver.com/face8901/222642029600,네이버 블로그 - 원문 및 댓글,20220208,"기념품,추천,기념품,추천,자연,자연,경관,체험,가족,기념품,재미,기념품,기념품,추천...","[간식, 계절, 광장, 강아지, 추천, 자연, 재미, 가까이, 고르다, 가족, 자랑..."
9,10,긍정,안녕하세요!코로나가 터지기 전부터 항상 필라테스로몸을 움직여 줬었으나...요새 코로...,https://blog.naver.com/pchdy0908/222660548346,네이버 블로그 - 원문 및 댓글,20220301,"가지,가지,끝나다,가지,진짜,진짜,제일,가지,적정,가능,안정,열정,진짜,감사하다","[감사하다, 진짜, 가능, 가지, 제일, 적정, 안정, 끝나다, 열정]"
10,11,긍정,"제주도 여행코스제주도 혼자여행, 데이트여행 여행코스제주도 혼자여행, 데이트 여행코스...",https://blog.naver.com/ddokdy/222664331773,네이버 블로그 - 원문 및 댓글,20220305,"추천,추천,체험,친환경,자라다,기회,추천,추천,이루다,추천,추천,자랑,가지,자랑,체...","[이루다, 기회, 체험, 이루어지다, 최적, 자연휴양림, 덕분, 진흥, 교육, 경사..."
11,12,긍정,"넹,, 잘못 눌러서 아직 사진만 첨부했는데 올라가버려서이왕 이런 김에 호다닥 써보려...",https://blog.naver.com/tjdus3600/222680905472,네이버 블로그 - 원문 및 댓글,20220323,"용기,친환경,용기,용기,안심,친환경,친환경","[용기, 안심, 친환경]"
12,13,긍정,아기랑 제주도 여행을 하며2박 3일 지냈던 그랜드조선 제주 우리는DELUXE / 2...,https://blog.naver.com/starcandyi/222677268244,네이버 블로그 - 원문 및 댓글,20220319,"업그레이드,업글,진짜,골드,즐거움,혜택,기대,기대,힐링,편의,가지,진짜,받아들이다,...","[혜택, 만족, 간식, 편의, 놀다, 받아들이다, 추천, 진짜, 덕분, 고려, 골드..."
13,14,긍정,"제주도 동쪽 성산 숙소로 추천하는어라운드폴리, 독채풀빌라 너무 좋았어요!!꺄아이번 ...",https://blog.naver.com/ines011/222698149833,네이버 블로그 - 원문 및 댓글,20220413,"추천,최고,추천,가능,추천,추천,매력,구조,친환경,추천,매력,구조,힐링,가능,매력,...","[매력, 진짜, 가능, 최고, 구조, 여유, 행복, 대박, 즐기다, 정성, 힐링, ..."
14,15,긍정,jj가 5학년이다보니 한국지리와 역사를 배우게되면서 집에 잘보이는곳에에이치맵 qr코...,https://blog.naver.com/toddus1ehd/222682026763,네이버 블로그 - 원문 및 댓글,20220325,"관심,가지,재미,친환경,자연,자연,재생,선물,선물,추천,교육,교육","[관심, 교육, 자연, 가지, 재미, 선물, 재생, 친환경, 추천]"
15,16,긍정,"결혼한지 벌써 세달이 넘었넼ㅋㅋㅋㅋ^^,,뚜둥,,드뎌 그날이 왔다나의 결혼식,,12...",https://blog.naver.com/qoo134/222662247338,네이버 블로그 - 원문 및 댓글,20220302,"끝나다,고르다,진짜,제일,감사하다,도움,사랑,효과,진짜,진짜,공주,사랑,사랑,제일,...","[죽여주다, 만족, 제일, 위로, 진짜, 다행, 가세, 고르다, 가족, 자랑, 사랑..."
16,17,긍정,산방산을 제대로 마주하고 있는 제주산방산호텔여기가 바로 제주도 힐링 숙소- 루프탑에...,https://blog.naver.com/happydoyaji/222699992945,네이버 블로그 - 원문 및 댓글,20220413,"힐링,계절,놀다,자연,자연,경관,힐링,완전,벗어나다,힐링,여유,절경,즐기다,그려지다...","[혜택, 벗어나다, 만족, 최고, 계절, 놀다, 최적, 진짜, 덕분, 그려지다, 자..."
17,18,긍정,전기차의 성지 제주도 주민들이 말하는 전기차의 진실얼마 전 먼 미래에 대한 이야기처...,https://blog.naver.com/aleeshaharmon/222673385388,네이버 블로그 - 원문 및 댓글,20220315,"전기차,전기차,진실,전기차,전기차,충전,충전,좋아지다,전기차,전기차,전기차,전기차,...","[매력, 진실, 체험, 어울리다, 관심, 충전, 덕분, 즐거움, 전기차, 가지다, ..."
18,19,긍정,방의 분위기를 바꿔주는 요즘에는 향기로 집 안의 분위기를 바꾸어보려고 노력을 하고 ...,https://blog.naver.com/choiceagg/222652102083,네이버 블로그 - 원문 및 댓글,20220219,"향취,좋아지다,향취,여유,공감,치유,회복,진짜,개발,치유,힐링,이루다,공감,추천,자...","[공감, 치유, 어울리다, 좋아지다, 재생, 달성, 추천, 회복, 진짜, 이루다, ..."
19,20,긍정,안녕하세요 웰씨 입니다 :)여러분들 2022년 이네요 ^^*다들 새해복많이받으세요 ...,https://blog.naver.com/qkrfowns22/222613662253,네이버 블로그 - 원문 및 댓글,20220105,"맛집,맛집,맛집,맛집,맛집,맛집,추천,맛집,맛집,맛집,맛집,맛집,맛집,꿀팁,뽑다,맛...","[진짜, 뽑다, 꿀팁, 대박, 맛집, 완전, 가치, 친환경, 추천]"
20,21,긍정,-제주도 여행-국내여행-제주여행-애월 -카페-회춘 애월점#오션뷰 #귀여운디저트 #포...,https://blog.naver.com/besorelle259/222695109979,네이버 블로그 - 원문 및 댓글,20220408,"유리,유리,즐기다,여유롭다,즐기다,즐기다,유리,건지다,추천,친환경,가져오다,매력,재...","[매력, 가져오다, 여유롭다, 재미, 유리, 건지다, 즐기다, 친환경, 추천]"
21,22,긍정,Jeju hotplace아기자기한 소품이 가득한 감성소품샾제주아이카페 jejui ...,https://blog.naver.com/duaalfla/222686358050,네이버 블로그 - 원문 및 댓글,20220329,"득템,득템,가치,가득,친환경,선물,선물,구조,구조,가져오다","[가득, 가져오다, 구조, 가치, 선물, 득템, 친환경]"
22,23,긍정,제주 가볼만한곳 업사이클링 브랜드 코오롱스포츠 솟솟리버스 친환경의 매력!안녕하세요 ...,https://blog.naver.com/hambak88/222617609532,네이버 블로그 - 원문 및 댓글,20220110,"친환경,매력,친환경,친환경,관심,갖다,경험,매력,완성,매력,친환경,자연,자연,애용,...","[매력, 관심, 추천, 가능성, 가지다, 갖다, 자연, 가지, 경험, 힐링, 완성,..."
23,24,긍정,오랜만에 친환경 제품으로돌아왔어요. 원래 저를 알고 계시는이웃님들은 아시겠지만 저는...,https://blog.naver.com/376491/222650535951,네이버 블로그 - 원문 및 댓글,20220217,"친환경,친환경,아끼다,친환경,가지,맞다,친환경,완전,친환경,친환경,덕분,추천,가시다...","[간편, 덕분, 가시다, 가지, 완전, 친환경, 맞다, 아끼다, 추천]"
24,25,긍정,"제주도펜션 통나무파크,,,,통나무집을 지었다.통나무집에 빠져 무작정 엔진톱을들고 통...",https://blog.naver.com/tongnamoo1/222649847733,네이버 블로그 - 원문 및 댓글,20220217,"친환경,매력,맛집,맛집,곁들이다,힐링,이기다","[매력, 곁들이다, 맛집, 이기다, 힐링, 친환경]"
25,26,긍정,"제주도 카페, 블루보틀제주도 제주시 구좌읍 번영로 2133-30구좌읍을 여행하면서 ...",https://blog.naver.com/m__j10/222696204208,네이버 블로그 - 원문 및 댓글,20220409,"제격,선물,선물,웃다,즐기다,친환경,즐기다,자연,자연,추천,단축,환영","[웃다, 제격, 자연, 단축, 즐기다, 환영, 선물, 친환경, 추천]"
26,27,긍정,GKL 글로벌 한국문화탐방단 K-FRIENDS 활동 중 다녀 왔던 제주 여행을 포스...,https://blog.naver.com/six_crystal/222680233249,네이버 블로그 - 원문 및 댓글,20220322,"재생,추천,체험,추천,기대,추천,즐기다,의지,맞다,감상,가지,기대,고르다,용기,친환...","[체험, 맞다, 가득, 용기, 기대, 가지, 감상, 고르다, 의지, 즐기다, 재생,..."
27,28,긍정,오리가 가고 싶은 식당오픈시간이 남아서중간에 들른제주 서귀포소품샵 지구별가게 는이코...,https://blog.naver.com/ilho6004/222685320373,네이버 블로그 - 원문 및 댓글,20220328,"기념품,선물,선물,기념품,선물,선물,친환경,용이,자연,자연,관심,기념품","[용이, 관심, 자연, 선물, 기념품, 친환경]"
28,29,긍정,4월 한 달간 콤마의 [지금 핫한 이슈]에서는 제주도에서만 볼 수 있는 스타벅스 제...,https://blog.naver.com/comm_mar/222711060737,네이버 블로그 - 원문 및 댓글,20220425,"재미,특화,개발,특화,사랑,갖다,특화,열풍,친환경,주목,관심,고려,충족,얻다,맞다,...","[관심, 긍정, 특화, 갖다, 적극, 받아들이다, 중시, 고려, 재미, 힘쓰다, 사..."
29,30,긍정,Take a shower.Anillo요즘 간절기가 오면서 면역력도 떨어지고 그래서인...,https://blog.naver.com/yj_park48/222681821730,네이버 블로그 - 원문 및 댓글,20220324,"이기다,어우러지다,자랑,헤어,투명,친환경,헤어,도움,안심,애쓰다,재생,애쓰다,헤어,...","[헤어, 애쓰다, 가지다, 안심, 투명, 자랑, 도움, 이기다, 어우러지다, 힐링,..."

In [43]:
len(emotion[emotion['emotion']=='긍정'])

978

In [44]:
len(emotion[emotion['emotion']=='부정'])

11

In [45]:
emotion['source'].unique()

array(['네이버 블로그 - 원문 및 댓글', '네이버 카페(linkDoc)- 원문 및 댓글'], dtype=object)

In [48]:
emotion.isna().sum()

seq              0
emotion          0
doc_content      0
doc_url          0
source           0
doc_datetime     0
word             0
Unnamed: 7      11
dtype: int64

In [49]:
emotion[emotion['emotion']=='부정']

,seq,emotion,doc_content,doc_url,source,doc_datetime,word,Unnamed: 7
978,979,부정,제주 여행을 주선한 일행이 제주 프리 페스 48시간 이용권을 구입하여차귀도. 가파도...,https://blog.naver.com/coffe4471/222689228880,네이버 블로그 - 원문 및 댓글,20220401,"짜증,늦다,차질,무리",NaN
979,980,부정,"3일을 연박으로 신화월드를 이용했는데정말 만족하는 부분이 많았지만단 하나, 룸 클린...",https://blog.naver.com/jjongjjong2/222801528775,네이버 블로그 - 원문 및 댓글,20220705,"실망,당황,거짓말,변명,회피,하자,엉망",NaN
980,981,부정,지난주에 가족들끼리 제주도 여행에 다녀왔습니다 :)공항에 내려서 첫 끼를 해결하러 ...,https://blog.naver.com/pswook86/222807968198,네이버 블로그 - 원문 및 댓글,20220712,"변덕,게우다,비리,게우다,도둑",NaN
981,982,부정,제주도 여행 둘째 날... 호텔 체크아웃하고....렌터카 빌려서 바로 간 곳은고집 ...,https://blog.naver.com/tndustm11/222817471033,네이버 블로그 - 원문 및 댓글,20220718,"고집,고민,터지다,오만",NaN
982,983,부정,50m NAVER Corp.기아오토큐 목감점경기도 시흥시 수인로 2331-17니로 ...,https://blog.naver.com/future9766/222692975841,네이버 블로그 - 원문 및 댓글,20220406,"이물,부족,미루다,고갈,속이다",NaN
983,984,부정,제주도 여행을 계획하면서 제일 먼저 생각한 일정은바로 호텔 수영장에서 아이와 물놀이...,https://blog.naver.com/pooh36522/222750494392,네이버 블로그 - 원문 및 댓글,20220529,"걱정,고장,고민,고착,건성,이물,미끄러지다,다치다,부딪히다",NaN
984,985,부정,드디어 제주여행 마지막 포스팅이에요제주공항으로 가기 전에 식사를 하고바다뷰를 볼 수...,https://blog.naver.com/say831831/222766332020,네이버 블로그 - 원문 및 댓글,20220609,"늦다,논란,비추다,때리다",NaN
985,986,부정,전날 저녁에 바람이 너무 많이 불어가지고 우도에 못 갈 수도 있겠다 싶어서못 갈 경...,https://blog.naver.com/joyyounnn/222617394168,네이버 블로그 - 원문 및 댓글,20220110,"넘어지다,지치다,사기",NaN
986,987,부정,"2022년 4월 15일, 성읍에서는 바람이 덜 불었지만, 우도는 바람이 불었다.우도...",https://blog.naver.com/hh48575/222722331939,네이버 블로그 - 원문 및 댓글,20220506,"몰리다,미숙,부딪히다",NaN
987,988,부정,친환경기업들이 점차 점차 늘어나고 있어요.그 예로 커피숍들도 텀블러나 다회용컵을출시...,https://blog.naver.com/lutin21/222717078009,네이버 블로그 - 원문 및 댓글,20220501,"걱정,오염,늦다,갈다",NaN
988,989,부정,한달도 더 전에 오미크론에 걸렸었다.이 때가 임신하고 9-10주차였어서(거의초기)뱃...,https://blog.naver.com/yejiyi1118/222686806741,네이버 블로그 - 원문 및 댓글,20220330,"후유증,걸리다,피로,격리,고생,걱정",NaN

## #4

In [50]:
merchant.isna().sum()

YR                 0
MCT_NM             0
MCT_BRN            0
LG_CAT             0
LG_CAT_NM          0
MD_CAT             0
MD_CAT_NM          0
MCT_BSE_AR         0
MNTH_SALES_PCTL    0
DAW_CCD            0
APV_TMT_CD         0
AGE_GP             0
SEX_CCD            0
UE_CT              0
dtype: int64

In [51]:
merchant.head()

,YR,MCT_NM,MCT_BRN,LG_CAT,LG_CAT_NM,MD_CAT,MD_CAT_NM,MCT_BSE_AR,MNTH_SALES_PCTL,DAW_CCD,APV_TMT_CD,AGE_GP,SEX_CCD,UE_CT
0,2021,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,3_25%~50%,1,4_09_12,4_35_39,F,42
1,2021,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,3_25%~50%,2,6_15_18,2_25_29,F,42
2,2022,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,3_25%~50%,3,7_18_21,3_30_34,M,42
3,2022,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,3_25%~50%,5,7_18_21,3_30_34,F,42
4,2021,젠,2110164178,1,요식/유흥,2,일식/중식/양식,제주 서귀포시 안덕면 사계남로 186-8,3_25%~50%,6,6_15_18,2_25_29,M,42

In [57]:
print(merchant['YR'].unique())
print(merchant['MCT_NM'].unique())
print(merchant['LG_CAT_NM'].unique())
print(merchant['MD_CAT_NM'].unique())
print(merchant['MNTH_SALES_PCTL'].unique())
print(merchant['DAW_CCD'].unique())

[2021 2022]
['젠' '3657' '가치' ... '여여 공예불교사' '47에스티(47st)' '폭스비지니스룸']
['요식/유흥' '음/식료품' '의류/잡화' '스포츠/문화/레저' '유통' '여행/교통']
['일식/중식/양식' '제과/커피/패스트푸드' '한식' '음/식료품' '기타요식' '패션/잡화' '스포츠/문화/레저용품'
 '할인점/슈퍼마켓' '유흥' '기타유통' '의복/의류' '숙박' '스포츠/문화/레저' '편의점']
['3_25%~50%' '4_50%~75%' '2_10%~25%' '5_75%~90%' '1_상위10%이상' '6_90%미만']
[1 2 3 5 6 7 4]

In [56]:
len(merchant['MCT_NM'].unique())

1320

In [61]:
print(merchant['APV_TMT_CD'].unique())
print(merchant['AGE_GP'].unique())
print(merchant['SEX_CCD'].unique())

['4_09_12' '6_15_18' '7_18_21' '5_12_15' '8_21_24' '3_06_09' '1_00_03'
 '2_03_06']
['4_35_39' '2_25_29' '3_30_34' '1_20_24']
['F' 'M']

In [3]:
merchant['UE_CT'].max()

1750

In [4]:
merchant['UE_CT'].min()

42

In [9]:
for category in ['요식/유흥', '음/식료품', '의류/잡화', '스포츠/문화/레저', '유통', '여행/교통']:
    print(category, ":", len(merchant[merchant['LG_CAT_NM']==category]))

요식/유흥 : 121996
음/식료품 : 31291
의류/잡화 : 10450
스포츠/문화/레저 : 40236
유통 : 86319
여행/교통 : 25882

In [10]:
for category in ['요식/유흥', '음/식료품', '의류/잡화', '스포츠/문화/레저', '유통', '여행/교통']:
    c = merchant[merchant['LG_CAT_NM']==category]
    print(category, c['MD_CAT_NM'].unique())

요식/유흥 ['일식/중식/양식' '제과/커피/패스트푸드' '한식' '기타요식' '유흥']
음/식료품 ['음/식료품']
의류/잡화 ['패션/잡화' '의복/의류']
스포츠/문화/레저 ['스포츠/문화/레저용품' '스포츠/문화/레저']
유통 ['할인점/슈퍼마켓' '기타유통' '편의점']
여행/교통 ['숙박']

## #5

In [3]:
inquiry.head()

,CL_CD,CL_NM,AREA_NM,ADDR,BASE_YEAR,ALL_TOTAL_CO,JAN_VIEWS_CO,FEB_VIEWS_CO,MAR_VIEWS_CO,APR_VIEWS_CO,MAY_VIEWS_CO,JUN_VIEWS_CO,JULY_VIEWS_CO,AUG_VIEWS_CO,SEP_VIEWS_CO,OCT_VIEWS_CO,NOV_VIEWS_CO,DEC_VIEWS_CO
0,c3,숙박,메리어트관 제주신화월드 호텔앤리조트,제주특별자치도 서귀포시 안덕면 신화역사로304번길 38,2021,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,NaN,NaN,NaN
1,c3,숙박,1915 지오하우스,제주특별자치도 서귀포시 성산읍 성산등용로 14,2021,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.0,NaN,NaN,NaN
2,c3,숙박,521 게스트 하우스,제주특별자치도 제주시 애월읍 중용길 52-1 (신엄리) 521 게스트 하우스,2021,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,NaN,NaN,NaN
3,c3,숙박,가까이에파도소리,제주도 제주시 외도2동 연대마을길 44,2021,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN
4,c3,숙박,가름게스트하우스,제주특별자치도 서귀포시 법환하로9번길 10,2021,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN

In [4]:
inquiry.isna().sum()

CL_CD                0
CL_NM                0
AREA_NM              0
ADDR                24
BASE_YEAR            0
ALL_TOTAL_CO         0
JAN_VIEWS_CO     10764
FEB_VIEWS_CO     10764
MAR_VIEWS_CO     10764
APR_VIEWS_CO     10764
MAY_VIEWS_CO     10764
JUN_VIEWS_CO     10764
JULY_VIEWS_CO    10764
AUG_VIEWS_CO     10764
SEP_VIEWS_CO      7148
OCT_VIEWS_CO      7148
NOV_VIEWS_CO      7232
DEC_VIEWS_CO     10764
dtype: int64

In [6]:
inquiry['CL_NM'].unique()

array(['숙박', '음식점', '관광지', '쇼핑'], dtype=object)

In [8]:
dining = inquiry[inquiry['CL_NM']=='음식점']

In [9]:
len(dining['AREA_NM'].unique())

1755

## #6

In [7]:
food.head()

                                    item   CO2
0                           1.1.1.1 Rice  0.073
1                          1.1.1.2 Bread  0.073
2       1.1.1.3 Other breads and cereals  0.073
3                   1.1.2 Pasta products  0.073
4  1.1.3.1 Buns, crispbread and biscuits  0.564

In [63]:
len(food)

313

In [59]:
for item in food['item']:
    idx = item.find(' ')
    print(item[idx:])

 Rice
 Bread
 Other breads and cereals
 Pasta products
 Buns, crispbread and biscuits
 Cakes and puddings
 Pastry (savoury)
 Beef (fresh, chilled or frozen)
 Pork (fresh, chilled or frozen)
 Lamb (fresh, chilled or frozen)
 Poultry (fresh, chilled or frozen)
 Bacon and ham
 Sausages
 Offal, pate etc
 Other preserved or processed meat and meat preparations
 Other fresh, chilled or frozen edible meat
 Fish (fresh, chilled or frozen)
 Seafood, dried, smoked or salted fish
 Other preserved or processed fish and seafood
 Whole milk
 Low fat milk
 Preserved milk
 Cheese and curd
 Eggs
 Other milk products
 Yoghurt
 Butter
 Margarine and other vegetable fats and peanut butter
 Olive oil
 Edible oils and other animal fats
 Citrus fuits
 Bananas
 Apples
 Pears
 Stone fruits
 Berries
 Other fresh, chilled or frozen fruits
 Dried fruit and nuts
 Preserved fruit and fruit based products
 Leaf and stem vegetables
 Cabbages
 Vegetables grown for their fruit
 Root crops, non starchy bulbs and mushrooms
 Dried vegetables
 Other prepared or processed vegetables
 Potatoes
 Other tubers and products of tuber vegetables
 Sugar
 Other sugar products
 Jams and marmalades
 Chocolate
 Confectionery products
 Edible ices and ice cream
 Sauces, condiments
 Bakers yeast, dessert preparations, soups
 Salt, spices, herbs and other food products
 Coffee
 Tea
 Cocoa and powdered chocolate
 Fruit and vegetable juices
 Mineral or spring waters
 Soft drinks
 Spirits and liqueurs
 Wine from grape or other fruit
 Fortified wine
 Champagne and sparkling wines
 Beer and lager
 Ciders and Perry
 Alcopops
 Cigarettes
 Cigars
 Other tobacco
 Mens outer garments
 Mens under garments
 Womens outer garments
 Womens under garments
 Boys outer garments
 Girls outer garments
 Infants outer garments
 Childrens under garments
 Mens accessories
 Womens accessories
 Childrens accessories
 Protective head gear
 Haberashery, clothing materials and clothing hire
 Dry cleaners and dyeing
 Laundry, laundrettes
 Footwear for men
 Footwear for women
 Footwear for children and infants
 Repair and hire of footwear
 Actual rentals
 Imputed rent
 Central heating repairs
 House maintenance
 Paint, wallpaper, timber
 Equipment hire, small materials
 Water charges
 Other regular househing payments incl service charge for rent
 Refuse collection including skip hire
 Electricity
 Gas
 Coal and coke
 Oil for central heating
 Paraffin, weed, peat, hot water etc
 Furniture
 Fancy/decorative goods
 Garden furniture
 Soft floor coverings
 Hard floor coverings
 Bedroom textiles including duvets and pillows
 Other household textiles, including cushions,towells, curtains
 Gas cookers
 Electric cookers, combined gas/electric cookers
 Clothes washing machines and clothes drying machines
 Refridgerators, freezers and fridge freezers
 Other major electrical appliances e.g. dish washers, microaves, vacuum cleaners, heaters
 Fire extinguishers
 Small electric household appliances
 Spare parts for appliances and repairs
 Rental/hire of major hhold appliances
 Glassware, china, pottery, cutlery and silverware
 Kitchen and domestic utensils
 Repair of glassware, tableware and household utensils
 Storage and other durable household articles
 Electrical tools
 Garden tools, equipment and accessories
 Small tools
 Door, electrical and other fittings
 Electrical consumables
 Detergents, washing-up liquid, washing powder
 Disinfectants, polishes, other cleaning materials, some pest controls
 Kitchen disposibles
 Household hardwear and appliances, matches
 Kitchen gloves, cloths etc
 Pins, needles, tape measures, nails, nuts and bolts
 Domestic services including cleaners, gardeners, au pairs
 Carpet cleaning , ironing service and window cleaner
 Hire/repairof household furniture and furnishings
 NHS prescription charges and payments
 Medicines and medical goods (not NHS)
 Other medical products
 Non-optical appliances and equipment
 Purchse of spectacles, lenses, prescription sunglasses
 Accessories/repairs to spectacles/lenses
 NHS medical, optical, dental and medical auxillary services
 Private medical, optical, dental and auxillary services
 Other services
 In-patient hospital services
 New cars/vans outright purchase
 New cars/vans loan/HP purcase
 Secondhand cars/vans outright purchase
 Secondhand cars/vans loan/HP purcase
 Outright purchase of new or secondhand motorcycles
 Loan/HP purchase of new or secondhand motor cycles
 Purchase of bicycles and other vehicles
 Can/van accessories and fittings
 Car/van spare parts
 Motorcycle accessories and spare parts
 Bicycle accessories and spare parts
 Petrol
 Diesel oil
 Other motor oils
 Car of van repairs, servicing and other work
 Motor cycle repairs and servicing
 Motoing organisation subscription
 Garage rent other costs, car washing
 Parking fees, tolls and permits
 Driving lessons
 Anti-freeze, battery water, cleaning materials
 Rail and tube season tickets
 Rail and tube other than season tickets
 Bus and coach season tickets
 Bus and coach other than season tickets
 Combined fares other than season tickets
 Combined fares season tickets
 Air fares within UK
 Air fares inernational
 School travel
 Taxis and hired cars with drivers
 Other personal travel and transport services
 Hire of self drive cars, vans, bicycles
 Car leasing
 Water travel, ferries and season tickets
 Postal services
 Telephone purchase
 Mobile phone purchase
 Answering machine, fax machine purchase
 Telephone account
 Telephone coin and other payments
 Mobile phone account
 Mobile phone othr apyments
 Internet subscription fees
 Audio equipment, CD players incl. in car
 Audio accessories e.g. tapes, CDs, headphones
 Purchase of TV and digital decoder
 Satellite dish purchase and installation
 Cable TV connection
 Video recorder
 DVD player/recorder
 Blank, pre-recorded video cassettes and DVDs
 Personal computers, printers and calculators
 Spare parts for TV, video, audio
 Repare of AV
 Photographic and cine equipment
 Camera films
 Optical instruments, binoculars, telescopes
 Purchase of boats, trailers and horses
 Purchase of caravans, mobile homes
 Accessoris for boats, horses, caravans and motorhomes
 Musical instruments
 Major durables for indoor recreation
 Maintenance and repair or other major durables for recreation and culture
 Purchase of motor caravan - outright purchase
 Purchase of motor caravan  - loan/HP
 Games, toys and hobbies
 Computer software and games cartridges
 Console computer games
 Equipment for sport, camping and open-air recreation
 BBQ and swings
 Plants, flowers, seeds, fertiliers, insecticides
 Garden decorative
 Artificial flowers, pot pourri
 Pet food
 Pet purchase and accessories
 Vetinary and other services for pets
 Spectator sports - admission charges
 Participant sports
 Subscriotions to sorts and social clubs
 Hire of equipment for sport
 Leisure class fees
 Cinemas
 Live entertainment, theatre, concerts, shows
 Museums, zoological gardens, theme parks
 TV licences
 Satellite subscriptions
 Rent for TV/Satellite/VCR
 Cable subscriptions
 TV slot meter payments
 Video, cassette and CD hire
 Admissions to clubs, dances. Discos, bingo
 Social events and gatherings
 Subscriptions for leisure activities
 Development of film, photos
 Football pools stakes
 Bingo stakes
 Lottery
 Bookmaker, tote, other betting stakes
 Books
 Diaries, address books, cards etc
 Cards, calendars, posters and other printed matter
 Newspapers
 Magazines and periodicals
 Education
 Educational trips
 Restaurant and caf? meals
 Alcoholic beverages
 Takeaway meals
 Hot food and cold food
 Confectionery
 Ice cream
 Soft drink
 Contract catering
 School meals
 Meals bought in workplace
 Holiday in the UK
 Holiday abroad
 Room hire
 Hairdressing, beauty treatement
 Toilet paper
 Toiletries
 Bar of soap, liquid soap, shower gel
 Toilet requisites
 Baby toiletries and accessories
 Hair products
 Cosmetics and related accessories
 Electrical appliances for personal care
 Jewellery clocks and watches and other personal effects
 Leather and travel goods
 Sunglasses
 Baby equipment
 Prams, pram accessories
 Repairs to personal goods
 Residential homes
 Home help
 Nursery, creche, playschools
 Child care payments
 Structure insurance
 Contents insurance
 Insurance for household items
 Medical insurance premiums
 Vehicle insurance
 Boat insurance
 Non package holiday, other travel insurance
 Moving and storage of furniture
 Property transaction - purchase and sale
 Property transaction - sale only
 Property transaction - purchase only
 Property transaction - other payments
 Bank building society fees
 Bank and post office counter charges
 Credit card fees
 Other professional fees
 Legal fees
 Funeral expenses
 TU and professional organisations
 Other payments for services
 serving
households
t
s
 fixed
capital
formation
s
 in inventories

In [64]:
food.columns

Index(['item', ' CO2 '], dtype='object')

In [65]:
co2 = food[' CO2 '].unique()

In [68]:
for i in co2:
    items = food[food[' CO2 ']==i]['item']
    print(i, " : ", items)
    print("")
    print("")

0.073  :  0                        1.1.1.1 Rice
1                       1.1.1.2 Bread
2    1.1.1.3 Other breads and cereals
3                1.1.2 Pasta products
Name: item, dtype: object


0.564  :  4      1.1.3.1 Buns, crispbread and biscuits
5                 1.1.3.2 Cakes and puddings
161                       7.2.2.2 Diesel oil
162                 7.2.2.3 Other motor oils
Name: item, dtype: object


0.874  :  6    1.1.4 Pastry (savoury)
Name: item, dtype: object


0.785  :  7                 1.1.5 Beef (fresh, chilled or frozen)
8                 1.1.6 Pork (fresh, chilled or frozen)
9                 1.1.7 Lamb (fresh, chilled or frozen)
10             1.1.8 Poultry (fresh, chilled or frozen)
11                                  1.1.9 Bacon and ham
12                                    1.1.10.1 Sausages
13                             1.1.10.2 Offal, pate etc
14    1.1.10.3 Other preserved or processed meat and...
15    1.1.10.4 Other fresh, chilled or frozen edible...
Name: item, dtype: object


0.177  :  16             1.1.11.1 Fish (fresh, chilled or frozen)
17       1.1.11.2 Seafood, dried, smoked or salted fish
18    1.1.11.3 Other preserved or processed fish and...
Name: item, dtype: object


0.204  :  19                                  1.1.12.1 Whole milk
20                                1.1.12.2 Low fat milk
21                              1.1.12.3 Preserved milk
22                               1.1.13 Cheese and curd
23                                          1.1.14 Eggs
24                         1.1.15.1 Other milk products
25                                     1.1.15.2 Yoghurt
26                                        1.1.16 Butter
27    1.1.17 Margarine and other vegetable fats and ...
Name: item, dtype: object


0.247  :  28                            1.1.18.1 Olive oil
29    1.1.18.2 Edible oils and other animal fats
Name: item, dtype: object


0.061  :  30                                1.1.19.1 Citrus fuits
31                                     1.1.19.2 Bananas
32                                      1.1.19.3 Apples
33                                       1.1.19.4 Pears
34                                1.1.19.5 Stone fruits
35                                     1.1.19.6 Berries
36         1.1.20 Other fresh, chilled or frozen fruits
37                          1.1.21 Dried fruit and nuts
38      1.1.22 Preserved fruit and fruit based products
39                    1.1.23.1 Leaf and stem vegetables
40                                    1.1.23.2 Cabbages
41            1.1.23.3 Vegetables grown for their fruit
42    1.1.23.4 Root crops, non starchy bulbs and mus...
43                              1.1.24 Dried vegetables
44        1.1.25 Other prepared or processed vegetables
45                                      1.1.26 Potatoes
46    1.1.27 Other tubers and products of tuber vege...
Name: item, dtype: object


0.31  :  47                                       1.1.28.1 Sugar
48                        1.1.28.2 Other sugar products
49                           1.1.29 Jams and marmalades
50                                     1.1.30 Chocolate
51                        1.1.31 Confectionery products
52                     1.1.32 Edible ices and ice cream
53                          1.1.33.1 Sauces, condiments
54    1.1.33.2 Bakers yeast, dessert preparations, s...
55    1.1.33.3 Salt, spices, herbs and other food pr...
Name: item, dtype: object


0.275  :  56                           1.2.1 Coffee
57                              1.2.2 Tea
58     1.2.3 Cocoa and powdered chocolate
60         1.2.5 Mineral or spring waters
310       Gross fixed\ncapital\nformation
Name: item, dtype: object


0.184  :  59    1.2.4 Fruit and vegetable juices
Name: item, dtype: object


0.207  :  61       1.2.6 Soft drinks
184    8.1 Postal services
Name: item, dtype: object


0.051  :  62                2.1.1 Spirits and liqueurs
63    2.1.2.1 Wine from grape or other fruit
64                    2.1.2.2 Fortified wine
65     2.1.2.3 Champagne and sparkling wines
66                    2.1.3.1 Beer and lager
67                  2.1.3.2 Ciders and Perry
68                            2.1.4 Alcopops
Name: item, dtype: object


0.039  :  69         2.2.1 Cigarettes
70           2.2.2.1 Cigars
71    2.2.2.2 Other tobacco
Name: item, dtype: object


0.311  :  72         3.1.1 Mens outer garments
73         3.1.2 Mens under garments
74       3.1.3 Womens outer garments
75       3.1.4 Womens under garments
76         3.1.5 Boys outer garments
77        3.1.6 Girls outer garments
78      3.1.7 Infants outer garments
79    3.1.8 Childrens under garments
Name: item, dtype: object


0.174  :  80         3.1.9.1 Mens accessories
81       3.1.9.2 Womens accessories
82    3.1.9.3 Childrens accessories
83     3.1.9.4 Protective head gear
Name: item, dtype: object


4.123  :  84    3.1.10 Haberashery, clothing materials and clo...
Name: item, dtype: object


0.329  :  85    3.1.11.1 Dry cleaners and dyeing
86       3.1.11.2 Laundry, laundrettes
Name: item, dtype: object


0.312  :  87                      3.2.1 Footwear for men
88                    3.2.2 Footwear for women
89     3.2.3 Footwear for children and infants
265                   11.2.1 Holiday in the UK
266                      11.2.2 Holiday abroad
267                           11.2.3 Room hire
Name: item, dtype: object


0.461  :  90    3.2.4 Repair and hire of footwear
Name: item, dtype: object


0.048  :  91    4.1.1 Actual rentals
Name: item, dtype: object


5.279  :  92    4.1.2 Imputed rent
Name: item, dtype: object


0.071  :  93    4.2.1 Central heating repairs
Name: item, dtype: object


0.14  :  94                  4.2.2 House maintenance
96    4.2.4 Equipment hire, small materials
Name: item, dtype: object


0.128  :  95    4.2.3 Paint, wallpaper, timber
Name: item, dtype: object


0.167  :  97                                   4.3.1 Water charges
98     4.3.2 Other regular househing payments incl se...
99           4.3.3 Refuse collection including skip hire
125                               5.5.1 Electrical tools
126        5.5.2 Garden tools, equipment and accessories
127                                    5.5.3 Small tools
128            5.5.4 Door, electrical and other fittings
129                         5.5.5 Electrical consumables
Name: item, dtype: object


3.256  :  100    4.4.1 Electricity
Name: item, dtype: object


5.747  :  101    4.4.2 Gas
Name: item, dtype: object


0.473  :  102                          4.4.3.1 Coal and coke
103                4.4.3.2 Oil for central heating
104    4.4.3.3 Paraffin, weed, peat, hot water etc
Name: item, dtype: object


0.264  :  105           5.1.1.1 Furniture
107    5.1.1.3 Garden furniture
Name: item, dtype: object


0.603  :  106    5.1.1.2 Fancy/decorative goods
Name: item, dtype: object


0.354  :  108    5.1.2.1 Soft floor coverings
Name: item, dtype: object


0.016  :  109    5.1.2.2 Hard floor coverings
Name: item, dtype: object


1.111  :  110    5.2.1 Bedroom textiles including duvets and pi...
111    5.2.2 Other household textiles, including cush...
Name: item, dtype: object


0.142  :  112                                    5.3.1 Gas cookers
113    5.3.2 Electric cookers, combined gas/electric ...
114    5.3.3 Clothes washing machines and clothes dry...
115    5.3.4 Refridgerators, freezers and fridge free...
116    5.3.5 Other major electrical appliances e.g. d...
117                             5.3.6 Fire extinguishers
118            5.3.7 Small electric household appliances
Name: item, dtype: object


0.266  :  119    5.3.8 Spare parts for appliances and repairs
120     5.3.9 Rental/hire of major hhold appliances
Name: item, dtype: object


1.733  :  121    5.4.1 Glassware, china, pottery, cutlery and s...
122                  5.4.2 Kitchen and domestic utensils
123    5.4.3 Repair of glassware, tableware and house...
124    5.4.4 Storage and other durable household arti...
Name: item, dtype: object


0.022  :  130    5.6.1.1 Detergents, washing-up liquid, washing...
131    5.6.1.2 Disinfectants, polishes, other cleanin...
135    5.6.2.4 Pins, needles, tape measures, nails, n...
Name: item, dtype: object


0.033  :  132                          5.6.2.1 Kitchen disposibles
133    5.6.2.2 Household hardwear and appliances, mat...
134                   5.6.2.3 Kitchen gloves, cloths etc
Name: item, dtype: object


0.01  :  136    5.6.3.1 Domestic services including cleaners, ...
137    5.6.3.2 Carpet cleaning , ironing service and ...
138    5.6.3.3 Hire/repairof household furniture and ...
Name: item, dtype: object


2.3  :  139    6.1.1.1 NHS prescription charges and payments
Name: item, dtype: object


2.003  :  140    6.1.1.2 Medicines and medical goods (not NHS)
141                   6.1.1.3 Other medical products
142     6.1.1.4 Non-optical appliances and equipment
Name: item, dtype: object


0.316  :  143    6.1.2.1 Purchse of spectacles, lenses, prescri...
144     6.1.2.2 Accessories/repairs to spectacles/lenses
Name: item, dtype: object


0.32  :  145    6.2.1.1 NHS medical, optical, dental and medic...
146    6.2.1.2 Private medical, optical, dental and a...
147                               6.2.1.3 Other services
148                   6.2.2 In-patient hospital services
268               12.1.1 Hairdressing, beauty treatement
Name: item, dtype: object


0.253  :  149           7.1.1.1 New cars/vans outright purchase
150             7.1.1.2 New cars/vans loan/HP purcase
151    7.1.2.1 Secondhand cars/vans outright purchase
152      7.1.2.2 Secondhand cars/vans loan/HP purcase
Name: item, dtype: object


0.17  :  153    7.1.3.1 Outright purchase of new or secondhand...
154    7.1.3.2 Loan/HP purchase of new or secondhand ...
155      7.1.3.3 Purchase of bicycles and other vehicles
Name: item, dtype: object


0.12  :  156          7.2.1.1 Can/van accessories and fittings
157                       7.2.1.2 Car/van spare parts
158    7.2.1.3 Motorcycle accessories and spare parts
159       7.2.1.4 Bicycle accessories and spare parts
308                               Central\ngovernment
Name: item, dtype: object


4.222  :  160    7.2.2.1 Petrol
Name: item, dtype: object


0.489  :  163    7.2.3.1 Car of van repairs, servicing and othe...
164            7.2.3.2 Motor cycle repairs and servicing
Name: item, dtype: object


0.412  :  165       7.2.4.1 Motoing organisation subscription
166    7.2.4.2 Garage rent other costs, car washing
167         7.2.4.3 Parking fees, tolls and permits
Name: item, dtype: object


0.437  :  168    7.2.4.4 Driving lessons
Name: item, dtype: object


0.419  :  169    7.2.4.5 Anti-freeze, battery water, cleaning m...
Name: item, dtype: object


0.548  :  170               7.3.1.1 Rail and tube season tickets
171    7.3.1.2 Rail and tube other than season tickets
Name: item, dtype: object


0.752  :  172               7.3.2.1 Bus and coach season tickets
173    7.3.2.2 Bus and coach other than season tickets
179          7.3.4.4 Taxis and hired cars with drivers
181    7.3.4.6 Hire of self drive cars, vans, bicycles
182                                7.3.4.7 Car leasing
Name: item, dtype: object


9.579  :  174    7.3.3.1 Combined fares other than season tickets
175               7.3.3.2 Combined fares season tickets
Name: item, dtype: object


1.084  :  176       7.3.4.1 Air fares within UK
177    7.3.4.2 Air fares inernational
Name: item, dtype: object


1.3  :  178    7.3.4.3 School travel
Name: item, dtype: object


10.663  :  180    7.3.4.5 Other personal travel and transport se...
Name: item, dtype: object


8.279  :  183    7.3.4.8 Water travel, ferries and season tickets
Name: item, dtype: object


0.357  :  185                         8.2.1 Telephone purchase
186                      8.2.2 Mobile phone purchase
187    8.2.3 Answering machine, fax machine purchase
Name: item, dtype: object


0.139  :  188                    8.3.1 Telephone account
189    8.3.2 Telephone coin and other payments
190                 8.3.3 Mobile phone account
191           8.3.4 Mobile phone othr apyments
192             8.4 Internet subscription fees
Name: item, dtype: object


0.961  :  193     9.1.1.1 Audio equipment, CD players incl. in car
194    9.1.1.2 Audio accessories e.g. tapes, CDs, hea...
195           9.1.2.1 Purchase of TV and digital decoder
196     9.1.2.2 Satellite dish purchase and installation
197                          9.1.2.3 Cable TV connection
199                          9.1.2.5 DVD player/recorder
200    9.1.2.6 Blank, pre-recorded video cassettes an...
201    9.1.2.7 Personal computers, printers and calcu...
202             9.1.2.8 Spare parts for TV, video, audio
203                                 9.1.2.9 Repare of AV
Name: item, dtype: object


0.0  :  198                    9.1.2.4 Video recorder
289    12.4.1.3 Insurance for household items
301                 12.5.2.3 Credit card fees
Name: item, dtype: object


1.004  :  204              9.1.3.1 Photographic and cine equipment
205                                 9.1.3.2 Camera films
206    9.1.3.3 Optical instruments, binoculars, teles...
Name: item, dtype: object


0.982  :  207    9.2.1 Purchase of boats, trailers and horses
Name: item, dtype: object


0.873  :  208             9.2.2 Purchase of caravans, mobile homes
209    9.2.3 Accessoris for boats, horses, caravans a...
211           9.2.5 Major durables for indoor recreation
212    9.2.6 Maintenance and repair or other major du...
213    9.2.7 Purchase of motor caravan - outright pur...
214           9.2.8 Purchase of motor caravan  - loan/HP
Name: item, dtype: object


0.032  :  210    9.2.4 Musical instruments
Name: item, dtype: object


0.488  :  215                        9.3.1 Games, toys and hobbies
218    9.3.3 Equipment for sport, camping and open-ai...
Name: item, dtype: object


1.601  :  216    9.3.2.1 Computer software and games cartridges
217                    9.3.2.2 Console computer games
Name: item, dtype: object


0.46  :  219    9.3.4.1 BBQ and swings
Name: item, dtype: object


0.523  :  220    9.3.4.2 Plants, flowers, seeds, fertiliers, in...
223                                     9.3.5.1 Pet food
Name: item, dtype: object


0.29  :  221                 9.3.4.3 Garden decorative
222    9.3.4.4 Artificial flowers, pot pourri
Name: item, dtype: object


0.377  :  224    9.3.5.2 Pet purchase and accessories
Name: item, dtype: object


0.427  :  225    9.3.5.3 Vetinary and other services for pets
Name: item, dtype: object


0.157  :  226       9.4.1.1 Spectator sports - admission charges
227                         9.4.1.2 Participant sports
228    9.4.1.3 Subscriotions to sorts and social clubs
229                9.4.1.4 Hire of equipment for sport
230                         9.4.1.5 Leisure class fees
Name: item, dtype: object


0.248  :  231                                      9.4.2.1 Cinemas
232    9.4.2.2 Live entertainment, theatre, concerts,...
233     9.4.2.3 Museums, zoological gardens, theme parks
234                                  9.4.3.1 TV licences
235                      9.4.3.2 Satellite subscriptions
236                    9.4.3.3 Rent for TV/Satellite/VCR
237                          9.4.3.4 Cable subscriptions
238                       9.4.3.5 TV slot meter payments
239                  9.4.3.6 Video, cassette and CD hire
Name: item, dtype: object


0.338  :  240    9.4.4.1 Admissions to clubs, dances. Discos, b...
241                 9.4.4.2 Social events and gatherings
242         9.4.4.3 Subscriptions for leisure activities
Name: item, dtype: object


0.055  :  243    9.4.5 Development of film, photos
Name: item, dtype: object


0.516  :  244                    9.4.6.1 Football pools stakes
245                             9.4.6.2 Bingo stakes
246                                  9.4.6.3 Lottery
247    9.4.6.4 Bookmaker, tote, other betting stakes
Name: item, dtype: object


0.221  :  248                                          9.5.1 Books
249              9.5.2 Diaries, address books, cards etc
250    9.5.3 Cards, calendars, posters and other prin...
251                                     9.5.4 Newspapers
252                      9.5.5 Magazines and periodicals
Name: item, dtype: object


0.2  :  253            10.1 Education
254    10.2 Educational trips
Name: item, dtype: object


0.244  :  255      11.1.1 Restaurant and caf? meals
256           11.1.2 Alcoholic beverages
257                 11.1.3 Takeaway meals
258       11.1.4.1 Hot food and cold food
259                11.1.4.2 Confectionery
260                    11.1.4.3 Ice cream
261                   11.1.4.4 Soft drink
262              11.1.5 Contract catering
263                 11.1.6.1 School meals
264    11.1.6.2 Meals bought in workplace
Name: item, dtype: object


1.022  :  269    12.1.2 Toilet paper
Name: item, dtype: object


0.027  :  270                                 12.1.3.1 Toiletries
271       12.1.3.2 Bar of soap, liquid soap, shower gel
272                          12.1.3.3 Toilet requisites
273              12.1.4 Baby toiletries and accessories
274                              12.1.5.1 Hair products
275          12.1.5.2 Cosmetics and related accessories
276    12.1.5.3 Electrical appliances for personal care
Name: item, dtype: object


0.444  :  277    12.2.1.1 Jewellery clocks and watches and othe...
278                    12.2.1.2 Leather and travel goods
279                                  12.2.1.3 Sunglasses
280                              12.2.2.1 Baby equipment
281                     12.2.2.2 Prams, pram accessories
282                   12.2.2.3 Repairs to personal goods
Name: item, dtype: object


0.386  :  283               12.3.1.1 Residential homes
284                       12.3.1.2 Home help
285    12.3.1.3 Nursery, creche, playschools
286             12.3.1.4 Child care payments
Name: item, dtype: object


0.141  :  287                         12.4.1.1 Structure insurance
288                          12.4.1.2 Contents insurance
290                    12.4.2 Medical insurance premiums
291                           12.4.3.1 Vehicle insurance
292                              12.4.3.2 Boat insurance
293    12.4.4 Non package holiday, other travel insur...
Name: item, dtype: object


0.009  :  294             12.5.1.1 Moving and storage of furniture
295    12.5.1.2 Property transaction - purchase and sale
296            12.5.1.3 Property transaction - sale only
297        12.5.1.4 Property transaction - purchase only
298       12.5.1.5 Property transaction - other payments
Name: item, dtype: object


0.003  :  299              12.5.2.1 Bank building society fees
300    12.5.2.2 Bank and post office counter charges
Name: item, dtype: object


3.594  :  302              12.5.3.1 Other professional fees
303                           12.5.3.2 Legal fees
304                     12.5.3.3 Funeral expenses
305    12.5.3.4 TU and professional organisations
306          12.5.3.5 Other payments for services
Name: item, dtype: object


0.092  :  307    Non-profit\ninstns serving\nhouseholds
Name: item, dtype: object


0.111  :  309    Local\nAuthorities
Name: item, dtype: object


0.553  :  311    Valuables
Name: item, dtype: object


0.328  :  312    Changes in inventories
Name: item, dtype: object