In [86]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [87]:
enter = pd.read_csv('./data/JT_TRRSRT_ENTRN_LIST.csv', encoding='cp949')

In [88]:
enter.head()

,CL_NM,TRRSRT_NM,ADDR,TEL_NO,TOT_ENTRN_NMPR_CO,SETLE_PRICE,ENTRN_DE
0,기타,봄그리고가을리조트,제주 서귀포시 성산읍 해맞이해안로 2660 시흥근생및주택,647842211.0,2,18000,20220301
1,기타,토스카나호텔,제주 서귀포시 용흥로66번길 158-7,647357000.0,2,57230,20220301
2,기타,산방산탄산온천,제주 서귀포시 안덕면 사계북로41번길 192,647928300.0,5,37500,20220301
3,기타,해비치호텔앤드리조트(섬모라),제주 서귀포시 표선면 민속해안로 537,647808322.0,1,30600,20220301
4,레저관광,우도잠수함,제주 서귀포시 성산읍 성산등용로 112-7,647842333.0,2,82400,20220301

In [89]:
enter['CL_NM'].unique()

array(['기타', '레저관광', '테마파크', '공연전시', '키즈', '자연', '테마관광지', '레저/체험', '문화관광',
       '음식점', '숙박', '체험'], dtype=object)

In [90]:
enter_food = enter[enter['CL_NM']=='음식점']

In [91]:
enter_food['TRRSRT_NM'].unique()

array(['신라호텔제주 뷔페', '봉이네해물짜장', '디저트카페 섬타르', '해비치호텔앤드리조트 섬모라',
       '망고레이(섭지코지점)', '영주말가든', '환상의짜장', '유진이네횟집'], dtype=object)

In [92]:
enter_stay = enter[enter['CL_NM']=='숙박']

In [93]:
enter_stay['TRRSRT_NM'].unique()

array(['토스카나호텔'], dtype=object)

In [94]:
enter_food.drop(['CL_NM', 'TEL_NO'], axis=1, inplace=True)

/var/folders/_t/yrhf8bh167g1b6qb6gqjrf_c0000gn/T/ipykernel_1224/3210923376.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enter_food.drop(['CL_NM', 'TEL_NO'], axis=1, inplace=True)

In [95]:
enter_food

,TRRSRT_NM,ADDR,TOT_ENTRN_NMPR_CO,SETLE_PRICE,ENTRN_DE
188228,신라호텔제주 뷔페,제주특별자치도 서귀포시 중문관광로72번길 75,2,208800,20210901
188229,신라호텔제주 뷔페,제주특별자치도 서귀포시 중문관광로72번길 75,1,104400,20210901
188230,신라호텔제주 뷔페,제주특별자치도 서귀포시 중문관광로72번길 75,1,104400,20210901
188231,신라호텔제주 뷔페,제주특별자치도 서귀포시 중문관광로72번길 75,2,208800,20210901
188232,신라호텔제주 뷔페,제주특별자치도 서귀포시 중문관광로72번길 75,2,187600,20210901
...,...,...,...,...,...
992034,신라호텔제주 뷔페,제주 서귀포시 중문관광로72번길 75,2,187600,20211125
992035,신라호텔제주 뷔페,제주 서귀포시 중문관광로72번길 75,2,208800,20211125
992036,신라호텔제주 뷔페,제주 서귀포시 중문관광로72번길 75,2,208800,20211125
992037,신라호텔제주 뷔페,제주 서귀포시 중문관광로72번길 75,2,187600,20211125
992038,신라호텔제주 뷔페,제주 서귀포시 중문관광로72번길 75,2,187600,20211125

In [96]:
enter_food1 = enter_food.drop('SETLE_PRICE', axis=1)

In [97]:
enter_food1 = enter_food1.groupby(['TRRSRT_NM', 'ADDR', 'ENTRN_DE']).sum()

In [98]:
enter_food1 = enter_food1.T.unstack().reset_index()

In [99]:
enter_food1.drop('level_3', axis=1, inplace=True)
enter_food1.rename(columns = {0:'AVERAGE_VISITOR'}, inplace=True)

In [100]:
enter_food1 = enter_food1.drop('ENTRN_DE', axis=1)
enter_food1 = enter_food1.groupby(['TRRSRT_NM', 'ADDR']).mean()

In [101]:
enter_food1 = enter_food1.T.unstack().reset_index()

In [102]:
enter_food1.drop('level_2', axis=1, inplace=True)
enter_food1.rename(columns = {0:'AVERAGE_VISITOR'}, inplace=True)

In [103]:
enter_food1

        TRRSRT_NM                           ADDR  AVERAGE_VISITOR
0       디저트카페 섬타르            제주특별자치도 제주시 다랑곶1길 9         2.714286
1     망고레이(섭지코지점)            제주 서귀포시 성산읍 신양로 102         5.500000
2         봉이네해물짜장       제주특별자치도 서귀포시 대정읍 가파로 239         2.000000
3       신라호텔제주 뷔페           제주 서귀포시 중문관광로72번길 75        90.160000
4       신라호텔제주 뷔페      제주특별자치도 서귀포시 중문관광로72번길 75       175.508197
5           영주말가든                 제주 제주시 연북로 196         3.000000
6          유진이네횟집             제주 제주시 삼무로 16 삼주빌딩         4.000000
7  해비치호텔앤드리조트 섬모라     제주특별자치도 서귀포시 표선면 민속해안로 537        17.080000
8           환상의짜장  제주특별자치도 서귀포시 대정읍 마라로 45 환상의짜장         2.000000

In [116]:
enter_food1.loc[3, 'AVERAGE_VISITOR'] = 150.697674

In [118]:
enter_food2 = enter_food1.drop(4, axis=0)

In [119]:
enter_food2

        TRRSRT_NM                           ADDR  AVERAGE_VISITOR
0       디저트카페 섬타르            제주특별자치도 제주시 다랑곶1길 9         2.714286
1     망고레이(섭지코지점)            제주 서귀포시 성산읍 신양로 102         5.500000
2         봉이네해물짜장       제주특별자치도 서귀포시 대정읍 가파로 239         2.000000
3       신라호텔제주 뷔페           제주 서귀포시 중문관광로72번길 75       150.697674
5           영주말가든                 제주 제주시 연북로 196         3.000000
6          유진이네횟집             제주 제주시 삼무로 16 삼주빌딩         4.000000
7  해비치호텔앤드리조트 섬모라     제주특별자치도 서귀포시 표선면 민속해안로 537        17.080000
8           환상의짜장  제주특별자치도 서귀포시 대정읍 마라로 45 환상의짜장         2.000000

In [117]:
enter_food1

        TRRSRT_NM                           ADDR  AVERAGE_VISITOR
0       디저트카페 섬타르            제주특별자치도 제주시 다랑곶1길 9         2.714286
1     망고레이(섭지코지점)            제주 서귀포시 성산읍 신양로 102         5.500000
2         봉이네해물짜장       제주특별자치도 서귀포시 대정읍 가파로 239         2.000000
3       신라호텔제주 뷔페           제주 서귀포시 중문관광로72번길 75       150.697674
4       신라호텔제주 뷔페      제주특별자치도 서귀포시 중문관광로72번길 75       175.508197
5           영주말가든                 제주 제주시 연북로 196         3.000000
6          유진이네횟집             제주 제주시 삼무로 16 삼주빌딩         4.000000
7  해비치호텔앤드리조트 섬모라     제주특별자치도 서귀포시 표선면 민속해안로 537        17.080000
8           환상의짜장  제주특별자치도 서귀포시 대정읍 마라로 45 환상의짜장         2.000000

In [78]:
shilla = enter_food[enter_food['TRRSRT_NM']=='신라호텔제주 뷔페']

In [80]:
shilla.drop(['ADDR', 'SETLE_PRICE'], axis=1, inplace=True)
shilla = shilla.groupby(['TRRSRT_NM', 'ENTRN_DE']).sum()
shilla = shilla.T.unstack().reset_index()

shilla

/var/folders/_t/yrhf8bh167g1b6qb6gqjrf_c0000gn/T/ipykernel_1224/3248441035.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shilla.drop(['ADDR', 'SETLE_PRICE'], axis=1, inplace=True)

    TRRSRT_NM  ENTRN_DE            level_2    0
0   신라호텔제주 뷔페  20210901  TOT_ENTRN_NMPR_CO   41
1   신라호텔제주 뷔페  20210902  TOT_ENTRN_NMPR_CO   45
2   신라호텔제주 뷔페  20210903  TOT_ENTRN_NMPR_CO   33
3   신라호텔제주 뷔페  20210904  TOT_ENTRN_NMPR_CO   52
4   신라호텔제주 뷔페  20210905  TOT_ENTRN_NMPR_CO   39
..        ...       ...                ...  ...
81  신라호텔제주 뷔페  20211121  TOT_ENTRN_NMPR_CO   67
82  신라호텔제주 뷔페  20211122  TOT_ENTRN_NMPR_CO  139
83  신라호텔제주 뷔페  20211123  TOT_ENTRN_NMPR_CO   72
84  신라호텔제주 뷔페  20211124  TOT_ENTRN_NMPR_CO   91
85  신라호텔제주 뷔페  20211125  TOT_ENTRN_NMPR_CO   84

[86 rows x 4 columns]

In [81]:
shilla.drop('level_2', axis=1, inplace=True)
shilla.rename(columns = {0:'AVERAGE_VISITOR'}, inplace=True)

In [84]:
shilla.drop('ENTRN_DE', axis=1, inplace=True)
shilla.groupby(['TRRSRT_NM']).mean()

           AVERAGE_VISITOR
TRRSRT_NM
신라호텔제주 뷔페       150.697674

In [120]:
enter_food2.to_csv('enter_food.csv', header=True, index=False, encoding="cp949")